<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        function sortBooks() {
            let sortBy = document.getElementById("sort_by").value;
            window.location.href = "/sort_books?sort_by=" + sortBy;
        }
    </script>
</head>
<body>

    <h1>Library</h1>

    <label for="sort_by">Sort by:</label>
    <select id="sort_by" onchange="sortBooks()">
        <!-- Jinja2-Syntax zur Auswahl des aktuellen Sortierkriteriums -->
        <option value="title" {% if sort_by == "title" %}selected{% endif %}>Title</option>
        <option value="author" {% if sort_by == "author" %}selected{% endif %}>Author</option>
    </select>


    {% for book in books %}
    <div>
        <h3>{{ book.title }} by {{ book.author.name }}</h3>
        <img src="{{ book.cover_url }}" alt="Book Cover" style="width: 150px;">
    </div>
    {% endfor %}

</body>
</html>